

body {
    text-decoration: none;
    background-color: #f0eeec;
    color: #2F3233;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 5%;
    padding-right: 5%;
    /* border: 20% solid white; */
}



a {
    text-decoration: none;
      /* text-transform: ; */
      font-weight: 400;
      color: #494D4F;
      padding: 10px;
            /* background-color: red; */
}

a:hover { 
 color: #0047ab;
}
/* code from: https://www.w3schools.com/cssref/sel_hover.php */




header {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: start;
padding: 10px;
width: 100%;
}

h1 {
    color: #0047ab;
    font-size: 2.9em;
    text-align: center;
   
}
h2 {
  color: #2F3233;
font-size: 1.9em;
text-align: center;



}

p {
  color: #494D4F;
  font-size: 1.1em;
  /* text-align: center; */
/* margin-left: 25%;
margin-right: 25%; */
}

article {
    display: flex;
    flex-direction: column;
    padding: 1.25%;
    text-align: left;

}




li {
    font-weight: 600;
    font-size: 1.4em;
}
ol, ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}





#vis {
    font-weight: bold;
}

#logo {
width: 60%
}

/* .inspo {
    display: flex;
flex-direction: row;
} */


.aboutMe {
 display: flex;
flex-direction: row;
align-items: center;
align-content: center;
}

/* found solution with help from: https://codedamn.com/news/frontend/how-to-put-image-and-text-side-by-side-in-html */

#pfp {
padding-right: 5%;
max-width: 40%;
height: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: auto;
}
/* code from: https://www.w3schools.com/howto/howto_css_image_center.asp */

#greeting {
    text-align: left;
    padding-right: 25%;
}

#lex {
    width: 80%;
}

.inspo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#hero {
    width: 90%;
    max-width: 90%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
/* code from: https://www.w3schools.com/howto/howto_css_image_center.asp */

.lexplay, .will, .seso {
    text-align: center;
}


