

body {

    text-decoration: none;
    background-color:#D9D9D9;
    color: #302824;
    font-family: "darkmode-on", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.aboutMe {
    display: flex;
    flex-direction: row; 
}
.text {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
nav {
    text-align: center;
}







h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: darkmode-on, sans-serif;
    font-weight: 900;
    font-style: normal;
   
}
#pfp {
    width: 25%;
    
}
#vis {
    font-weight: bold;
}









